{% extends 'usuarios/base.html' %}
{% load crispy_forms_tags crispy_forms_filters %}
{% load static %}

{% block content %}
<div class="container">
    <div class="d-flex align-items-center">
        <h1>Inserir tarefa</h1>
    </div>
    <form method="POST" id="form-adicionar-tarefa" action="{% url 'adicionar_tarefa' %}" class="mt-4">
        {% csrf_token %}
        {% crispy form %}
    </form>

    <button type="submit" form="form-adicionar-tarefa" class="btn btn-primary">Salvar</button>
    <a href="{% url 'listar_tarefas' %}" class="btn btn-danger">Cancelar</a>
</div>


{% endblock %}
