<!DOCTYPE html>
{% extends 'usuarios/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <section class = "container mt-2">
    <h1>Cadastro</h1>
        <p>Já tem uma conta? <a href="{% url 'login' %}">Entrar</a></p>
        <form action = "{% url 'realizar_cadastro' %}" method="POST">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</body>
</html>

{% endblock %}